* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none
}

.wrap {
}

/* 384 */
.wrap .top {
  position: relative;
  width: 100vw;
  height: 64.5vw;
  background-image: url("../imgs//bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.wrap .top .logo {
  position: relative;
  top: 2vw;
}

.wrap .top .logo div {
  position: absolute;
  top: 0;
  left: 5vw;
  display: flex;
  align-items: center;
}

.wrap .top .logo .one {
  width: 9.7vw;
  height: 9.7vw;
}
.wrap .top .logo .two {
  width: 26.6vw;
  height: 7.6vw;
  margin-left: 1vw;
}
.wrap .top .logo .three {
  width: 23.4vw;
  height: 8.3vw;
  position: absolute;
  top: 0;
  right: 4vw;
}

.wrap .top .modal {
  position: relative;
  top: 5vw;
  width: 100vw;
  height: 50vw;
  background-image: url("../imgs//top-modal-1.png");
}

.wrap .top .modal .content {
  position: absolute;
  /* width: 72vw; */
  bottom: -1vw;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3vw;
  color: #fff;
  text-align: center;
  background-color: #f2cdbc;
  display: flex;
}
.wrap .top .modal .content > div {
  white-space: nowrap;
}
.wrap .top .modal .content > div > span {
  font-size: 3.5vw;
  white-space: nowrap;
}

.wrap .top .modal .content .two {
  padding-left: 2vw;
}

.wrap .top .modal .area {
  position: relative;
  top: 6vw;
  width: 100vw;
  height: 38vw;
  background-image: url("../imgs//top-modal-2.png");
  z-index: 2;
}

.wrap .top .modal .area .one {
  position: absolute;
  top: 3.2vw;
  left: -3vw;
}

.wrap .top .modal .area .one img {
  height: 3.2vw;
  width: 1.3vw;
}
.wrap .top .modal .area .one .img {
  width: 43.8vw;
}

.wrap .top .modal .area .two {
  width: 100vw;
  position: relative;
  top: 9vw;
  text-align: center;
  color: #fff;
  font-size: 4vw;
}

.wrap .top .modal .area .three {
  position: relative;
  top: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap .top .modal .area .three div {
  font-size: 5vw;
  color: #f09524;
  background-color: #f2cdbc;
}
.wrap .top .modal .area .three img {
  width: 35.3vw;
  height: 16.9vw;
}

.wrap .top .modal .area .four {
  position: absolute;
  bottom: 4vw;
  right: 0;
  display: flex;
  align-items: center;
}
.wrap .top .modal .area .four img {
  height: 4vw;
  width: 1.6vw;
}

.wrap .top .modal .area .four span {
  display: inline-block;
  height: 4vw;
  line-height: 4vw;
  width: 65.2vw;
  background-image: url("../imgs/top-split-2.png");
  color: #fff;
  font-size: 2.7vw;
  text-align: center;
}

/* .wrap .top .btn {
  position: absolute;
  right: 4vw;
  bottom: 3vw;
  width: 15.1vw;
  height: 3.6vw;
  background-image: url("../imgs/top-btn.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.wrap .top .btn div {
  height: 3.6vw;
  line-height: 3.6vw;
  text-align: center;
  margin: 0 1vw;
  font-size: 2.8vw;
  color: #e50000;
  background-color: #f2cdbc;
  cursor: pointer;
} */
.wrap .top .btn {
  text-align: center;
  zoom: 0.5;
  position: absolute;
  right: 8vw;
  bottom: 6vw;

}

.wrap .top .btn > div {
  background-color: #d6dce5;
  padding: 1vw 4vw;
  border-radius: 2vw;
  display: inline-block;
  cursor: pointer;
}

.wrap .top .btn > div > div {
  display: inline-block;
  color: #d6071b;
  font-size: 4vw;
  background-color: #f2cdbc;
}

.wrap .mid >.one {
  padding: 4vw 10vw;
}

.wrap .mid .one .title {
  width: 58.9vw;
  height: 6.1vw;
  margin: 0 auto;
  background-image: url("../imgs/title.png");
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  padding-left: 11vw;
  /* display: flex; */
  position: relative;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* zoom: 0.3; */
}

.wrap .mid .one .title p {
  /* transform: scale(0.5) translate(-50%, -50%); */
  /* width: 200%; */
  /* margin-top: 0.3vw; */
  text-align: center;
  white-space: nowrap;
  height: 6.1vw;
  width: 95.8vw;
  transform: scale(0.5);
  transform-origin: left top;
  font-size: 3.4vw;

}
.wrap .mid .one .title p:first-child {
}
.wrap .mid .one .title p:last-child {
  margin-top: 0;
  position: absolute;
  top: 3.2vw;
  /* transform: scale(0.5) translate(-50%, 50%); */
}
.wrap .mid .one .intro {
  margin-top: 4vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrap .mid .one .intro .left {
  width: 33.7vw;
  height: 31.5vw;
}
.wrap .mid .one .intro .right {
  zoom: 0.5;
}
.wrap .mid .one .intro .right .img {
  position: relative;
  display: flex;
}

.wrap .mid .one .intro .right .img .cir {
  width: 32.8vw;
  height: 44.2vw;
}
.wrap .mid .one .intro .right .img .pic {
  width: 61.6vw;
  height: 56.8vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-28vw, -50%);
  z-index: 10;
}

.wrap .mid .one .intro .right .text {
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 8vw;
  /* transform: scale(0.5); */

}

.wrap .mid .one .intro .right .text div {
  margin-top: 0.6vw;
  font-size: 2vw;
  text-align: center;
}
.wrap .mid .one .intro .right .text div span {
  background-color: #f2cdbc;

}

.wrap .mid .one > .text {
  margin-top: 8vw;
  color: #808080;
  font-size: 3vw;
  line-height: 1.5;
  zoom: 0.5;
  /* width: 200%;
  transform: scale(0.5);
  transform-origin: left top; */
}

.wrap .mid .one .circle {
  margin-top: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap .mid .one .circle div {
  font-size: 4vw;
  color: black;
  background-color: #f2cdbc;
  line-height: 1;
  zoom: 0.5;
  /* transform: scale(0.5);
  transform-origin: center center; */
  /* writing-mode: vertical-lr; */
}

.wrap .mid .one .circle img {
  width: 71.9vw;
  height: 32vw;
}

.wrap .mid .one .bom {
  margin-top: 4vw;
  color: #808080;
  font-size: 3vw;
  line-height: 1.5;
  zoom: 0.5;
}

.wrap .mid > .two {
  padding: 4vw 0;
  background-image: linear-gradient(#f2f2f2, #fff);
}

.wrap .mid .two .title {
  width: 117.8vw;
  height: 12.2vw;
  margin: 0 auto;
  background-image: url("../imgs/title.png");
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 4vw;
  padding-left: 22vw;
  zoom: 0.5;
  /* display: flex; */
  /* position: relative; */
}

.wrap .mid .two .title p {
  /* width: 200%; */
  text-align: center;
  height: 12.2vw;

  line-height: 12.2vw;
  /* margin-top: ; */
  /* background-color: red; */
  /* transform: scale(0.5); */
  /* margin-left: -24vw; */


}
.wrap .mid .two .intro {
  position: relative;
  width: 100%;
  height: 29.1vw;
  margin-top: 4vw;
}

.wrap .mid .two .intro .left {
  height: 13.7vw;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.wrap .mid .two .intro .right {
  height: 29.1vw;
  width: 29.9vw;
  position: absolute;
  right: 10vw;
}
.wrap .mid .two .text {
  margin-top: 4vw;
  padding: 0 20vw;
  /* transform:  scale(0.5) translateY(50%);
  transform-origin: left top; */
  font-size: 2vw;
  zoom: 0.5;
}

.wrap .mid .two .text .item {
  margin-top: 2vw;
  display: flex;
  align-items: flex-start;
  color: black;
  
}

.wrap .mid .two .text .item p {
  line-height: 1.5;
  /* width: 200%; */
}

.wrap .mid .two .text .item img {
  width: 3.6vw;
  height: 4.4vw;
  flex-shrink: 0;
  margin-right: 2vw;
}

.wrap .mid .two .text-2 {
  padding: 0 20vw 0 25vw;
  margin-top: 0vw;
  color: black;
  font-size: 2vw;
  line-height: 2;
  zoom: 0.5;
}

.wrap .mid .two .bom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2vw;
}

.wrap .mid .two .bom .left {
  width: 69.5vw;
  height: 22.9vw;
  background-image: url("../imgs/mid-six.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
}

.wrap .mid .two .bom .left > div {
  width: 36vw;
  height: 16vw;
  padding: 1vw 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: scale(0.5);
  transform-origin: left center;
  position: absolute;
}

.wrap .mid .two .bom .left > div  p {
  text-align: center;
  white-space: nowrap;
  font-size: 2vw;
  
}
.wrap .mid .two .bom .left > div p:first-child {
  margin-top: 0;
}

.wrap .mid .two .bom .left .one {
  background-color: #82b732;
  left: 2vw;

}
.wrap .mid .two .bom .left .two {
  background-color: #f39c11;
  left: 22vw;


}
.wrap .mid .two .bom .left .three {
  background-color: #e23761;
  font-size: 4vw;
  left: 42vw;

}
/* .wrap .mid .two .bom .left .three p {
  height: 2vw;
  width: 18vw;
  transform: scale(1);
} */

.wrap .mid .two .bom .right {
  width: 23vw;
  height: 16.3vw;
}

.wrap .leg-1 .bg {
  width: 100vw;
  height: 24.1vw;
  background-image: url("../imgs/leg-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.wrap .leg-1 .bg > div {
  width: 100vw;
  height: 24.1vw;
  position: relative;
  left: 0;
  top: 0;
  background-image: url("../imgs/leg-modal.png");
}

/* .wrap .leg-1 .bg >div p {
    position: absolute;
    left: 14vw;
    bottom: 4vw;
    font-size: 3vw;
    color: #fff;
    background-color: #f2cdbc;
  } */

.wrap .leg-1 > .title {
  display: flex;
  position: relative;
  margin-top: -7vw;
  margin-left: 10vw;
  z-index: 99;
}
.wrap .leg-1 .title .left {
  display: flex;
  flex-direction: column;
}

.wrap .leg-1 .title > div .th {
  width: 3.2vw;
  height: 1.2vw;
  margin-bottom: -0.6vw;
}
.wrap .leg-1 .title > div .tw {
  width: 3.2vw;
  height: 11.1vw;
}

.wrap .leg-1 .title .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-left: 1.5vw;
  padding-bottom: 1vw;
}

.wrap .leg-1 .title .right .one {
  color: #fff;
  font-size: 2.5vw;
  background-color: #f2cdbc;
}
.wrap .leg-1 .title .right .two {
  color: #44546a;
  font-size: 3.5vw;
  background-color: #f2cdbc;
}
.wrap .leg-1 >.content {}
.wrap .leg-1 .content .item {
  padding: 0 24vw;
  display: flex;
  align-items: flex-start;
  margin-top: 6vw;
  zoom: 0.5;
}
.wrap .leg-1 .content .item .num {
  font-size: 7vw;
  font-weight: bold;
  color: black;
  width: 10vw;
  flex-shrink: 0;
}

.wrap .leg-1 .content .item > img {
  width: 1.2vw;
  height: 9.6vw;
  flex-shrink: 0;
}

.wrap .leg-1 .content .item .text {
  font-size: 3vw;
  color: black;
  margin-left: 2vw;
}

.wrap .leg-1 .content .item-one .liuchen {
  padding: 4vw 10vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  zoom: 0.5;
}

.wrap .leg-1 .content .item-one .liuchen .one {
  background-color: #44546a;
  font-size: 4vw;
  color: #fff;
  padding: 3vw 8vw;
}

.wrap .leg-1 .content .item-one .liuchen .two {
  width: 6.8vw;
  height: 11vw;
  background-image: url("../imgs/leg-5.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 2vw 0;
}

.wrap .leg-1 .content .item-one .liuchen .three {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 100%;
}

.wrap .leg-1 .content .item-one .liuchen .three > div div {
  font-size: 2.4vw;
  color: #fff;
  line-height: 2;
}
.wrap .leg-1 .content .item-one .liuchen .three .hasBg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 56vw;
  padding: 4vw;
}
.wrap .leg-1 .content .item-one .liuchen .three > div .title {
  font-size: 3vw !important;
  color: #f40000 !important;
  text-align: center;
}

.wrap .leg-1 .content .item-one .liuchen .three .left {
  background-color: #f39c11;
}
.wrap .leg-1 .content .item-one .liuchen .three .center {
  background-color: #949494;
}
.wrap .leg-1 .content .item-one .liuchen .three .right {
  background-color: #f39c11;
}

.wrap .leg-1 .content .item-one .liuchen .three .plus {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vw;
}

.wrap .leg-2 .bg {
  width: 100vw;
  height: 24.1vw;
  background-image: url("../imgs/leg-6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-top: 4vw;
}

.wrap .leg-2 .bg > div {
  width: 100vw;
  height: 24.1vw;
  position: relative;
  left: 0;
  top: 0;
  background-image: url("../imgs/leg-modal.png");
}

.wrap .leg-2 > .title {
  display: flex;
  position: relative;
  margin-top: -7vw;
  margin-left: 10vw;
  z-index: 99;
}
.wrap .leg-2 .title .left {
  display: flex;
  flex-direction: column;
}

.wrap .leg-2 .title > div .th {
  width: 3.2vw;
  height: 1.2vw;
  margin-bottom: -0.6vw;
}
.wrap .leg-2 .title > div .tw {
  width: 3.2vw;
  height: 11.1vw;
}

.wrap .leg-2 .title .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-left: 1.5vw;
  padding-bottom: 1vw;
}

.wrap .leg-2 .title .right .one {
  color: #fff;
  font-size: 2.5vw;
  background-color: #f2cdbc;
}
.wrap .leg-2 .title .right .two {
  color: #44546a;
  font-size: 3.5vw;
  background-color: #f2cdbc;
}

.wrap .leg-2 .img1,
.img2 {
  text-align: center;
  margin-top: 2vw;
}
.wrap .leg-2 .img2 img {
  width: 83.9vw;
  height: 64.1vw;
}
.wrap .leg-2 .img1 img {
  width: 80vw;
}
.wrap .footer .quanyi {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vw 0;
  background-image: linear-gradient(#f2f2f2, #fff);
}
.wrap .footer .quanyi .title {
  width: 117.8vw;
  height: 12.2vw;
  margin: 0 auto;
  background-image: url("../imgs/title.png");
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 4vw;
  padding-left: 22vw;
  zoom: 0.5;
  /* display: flex; */
  /* flex-direction: column; */
}
.wrap .footer .quanyi .title p {
  /* transform: scale(0.5);
  width: 200%; */
  /* margin-left: -24vw; */
  height: 12.2vw;
  line-height: 12.2vw;
  text-align: center;

}

.wrap .footer .quanyi img {
  margin-top: 4vw;
  width: 65.7vw;
  height: 44.9vw;
}

.wrap .footer .concat {
  background-color: #f39c11;
  padding: 6vw 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  zoom: 0.5;
}
.wrap .footer .concat p {
  width: 100%;
  text-align: center;
  margin-bottom: 6vw;
}
.wrap .footer .concat img {
  width: 162.6vw;
  height: 25.6vw;
}

.wrap .footer .concat div {
  color: black;
  font-size: 3vw;
  background-color: #f2cdbc;
  margin-top: 2vw;
}

.wrap .footer .btn {
  text-align: center;
  zoom: 0.5;
}

.wrap .footer .btn > div {
  background-color: #d6dce5;
  padding: 1vw 4vw;
  border-radius: 2vw;
  display: inline-block;
  cursor: pointer;
  margin-top: 6vw;
  margin-bottom: 8vw;
}

.wrap .footer .btn > div > div {
  display: inline-block;
  color: #d6071b;
  font-size: 6vw;
  background-color: #f2cdbc;
}
